body{
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    margin: 0;
}

.header-fix{
height: 85px;
width: 100%;
position: fixed;
top: 0;
left: 0;
background-color: #eee;
border-bottom: 1px solid #ddd;
box-shadow: 0px 3px 5px 0px rgba(red, green, blue, alpha);(0,0,0,0,0.75)
}

.header-container{
    width: 1024px;
    margin: auto;
}

.container{
    width: 1024px;
    margin: 84px auto 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
    background-color: #eee;
    padding: 10px;
}

article{
    text-align: justify;
}

.marginTop50{
    margin-top: 50px;
}

.marginBot20{
    margin-bottom: 20px;
}

code{
    padding: 0px;
    font-size: 12px;
    background-color: #bbb;
    color: blue;
}

.pre{
    text-align: left;
    background-color: white;
    padding: 10px;
}

nav{
    width: 100%;
    text-align: right;
}

.menu{
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.menu{
    margin-left: 2px;
    text-align: center;
}

.menu>li>a{
    display: block;
    float: left;
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: #597aed;
    color: white;
    text-decoration: none;
}

.menu>li>a:hover{
background-color: blue;
color: white;

}

.footer{
    font-size: 0.8rem;
    text-align: center;
}